<pre>{{localsearch}}</pre>

<form name="userForm" id="userForm" ng-submit="processForm()" novalidate>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Basic Details
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
       <div class="row">
        <div class="col-sm-4">
            <div class="form-group" ng-class="{ 'has-error' : !userForm.name.$pristine && userForm.name.$invalid}">  
                <label class="control-label" for="name">Business Name</label>
                <input type="text" name="name" class="form-control input-sm" ng-model="localsearch.name" ng-minlength="2" required>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Caption</label>
                <input type="text" class="form-control input-sm" ng-model="localsearch.caption">
            </div>
            <div class="form-group" ng-class="{'has-error' : !userForm.unique_name.$pristine && userForm.unique_name.$invalid}">
                <label for="" class="control-label">Unique name</label>
                <input type="text" name="unique_name" class="form-control input-sm" ng-model="localsearch.unique_name" unique-uniquename="" ng-minlength="5" ng-pattern="/^[a-zA-Z0-9]*$/" required>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Business type</label>
                <select name="" id="" class="form-control input-sm" ng-model="localsearch.business_type" required>
                    <option value="business">Business</option>
                    <option value="service">Service</option>
                </select>
            </div>
            <div class="form-group" >
                <label for="" class="control-label"> Established in</label>
                <input type="text" class="form-control input-sm" ng-model="localsearch.established" placeholder="eg. 1995">
            </div>
           <div class="form-group" ng-class="{'has-error' : !userForm.user_id.$pristine && userForm.user_id.$invalid}">
                <label for="" class="control-label">Owner Account Id</label>
                <input type="number" name="user_id" class="form-control input-sm" ng-model="localsearch.user_id" valid-account="" required>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Contact person</label>
                <input type="text" name="contact_person" class="form-control input-sm" ng-model="localsearch.contact_person">
            </div>    
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="" class="control-label">Phone number</label>
                <input type="text" class="form-control input-sm" ng-model="localsearch.phone1">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Alternate phone number</label>
                <input type="text" class="form-control input-sm" ng-model="localsearch.phone2">
            </div>
            <div class="form-group" ng-class="{'has-error' :userForm.email.$invalid}">
                <label for="" class="control-label">Email Id</label>
                <input type="email" name="email" class="form-control input-sm" ng-model="localsearch.email">
            </div>
            <div class="form-group" ng-class="{'has-error' :userForm.website.$invalid}">
                <label for="" class="control-label">Website</label>
                <input type="url" name="website" class="form-control input-sm" ng-model="localsearch.website">
            </div>
            <div class="form-group" ng-class="{'has-error' :userForm.fb.$invalid}">
                <label for="" class="control-label">Facebook Url</label>
                <input type="url" name="fb" class="form-control input-sm" ng-model="localsearch.fb">
            </div>
            <div class="form-group" ng-class="{'has-error' :userForm.gp.$invalid}">
                <label for="" class="control-label">Google+ Url</label>
                <input type="url" name="gp" class="form-control input-sm" ng-model="localsearch.gp">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="" class="control-label">Categories</label>
                <select ui-select2="cat_select2Options" multiple ng-model="localsearch.categories" class="form-control input-sm">
                    <option ng-repeat="category in categories" value="{{category.category_id}}">{{category.category}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Sub-categories</label>
                <select ui-select2="sub_select2Options" multiple ng-model="localsearch.sub_categories" class="form-control input-sm">
                    <option ng-repeat="sub_category in sub_categories" value="{{sub_category.sub_category_id}}">{{sub_category.sub_category}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Features</label>
                <select ui-select2="features_select2Options" multiple ng-model="localsearch.features" class="form-control input-sm">
                    <option ng-repeat="feature in features" value="{{feature.feature_id}}">{{feature.feature}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Products</label>
                <select ui-select2="features_select2Options" multiple ng-model="localsearch.products" class="form-control input-sm">
                    <option ng-repeat="product in products" value="{{product.product_id}}">{{product.product}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Logo</label>
                <input type="file" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Cover photo</label>
                <input type="file" class="form-control input-sm">
            </div>
            
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Location details
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse ">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="control-label">Country</label>
                        <select ng-model="country" class="form-control input-sm" ng-options="country.country for country in countries" required></select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">State</label>
                        <select ng-model="state" class="form-control input-sm" ng-options="state.state for state in states" required></select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">District</label>
                        <select ng-model="district" class="form-control input-sm" ng-options="district.district for district in districts" required></select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Area</label>
                        <select ng-model="area" class="form-control input-sm" ng-options="area.area for area in areas"></select>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Address line 1</label>
                        <input type="text" class="form-control input-sm" ng-model="localsearch.address_line_1">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Address line 2</label>
                        <input type="text" class="form-control input-sm" ng-model="localsearch.address_line_2">
                    </div>  
                    <div class="form-group">
                        <label for="" class="control-label">Latitude</label>
                        <input type="text" ng-model="localsearch.lat" class="form-control input-sm" placeholder="Latitude">
                    </div>  
                    <div class="form-group">
                        <label for="" class="control-label">Longitude</label>
                        <input type="text" ng-model="localsearch.lng" class="form-control input-sm" placeholder="Longitude">
                    </div>  
                </div>
                <div class="col-sm-8">
                    <br>
                    <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Description</a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse">
            <div class="panel-body">
            	<wysiwyg textarea-id="question" textarea-class="form-control input-sm"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="localsearch.description" enable-bootstrap-title="true"></wysiwyg>
                <!-- <textarea name="" id="" cols="30" rows="5" class="form-control input-sm" ng-model="localsearch.description" placeholder="Describe your business/service"></textarea> -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
    <button type="submit" class="btn btn-info"  ng-disabled="userForm.$invalid">Update</button>         
    <button class="btn btn-default" ng-click="reset_data();">Reset</button>         
    </div>
</div>
