<div class="row">
	
	<div class="col-sm-2">
		<div class="list-group">
		  	<a href="#/" class="list-group-item" active-nav="active-nav">Dashboard</a>
		  	<a href="#/myprofile/" class="list-group-item" active-nav="active-nav">Profile</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Messages</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Business</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Classifieds</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Jobs</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Offers</a>
		  	<a href="" class="list-group-item" active-nav="active-nav">Products</a>
		  	<a href="#/password/" class="list-group-item" active-nav="active-nav">Password</a>
		</div>
	</div>
	<div class="col-sm-10" data-ui-view>
		
	</div>
	
</div>