<div class="row">
	<div class="row row-offcanvas row-offcanvas-left">
		
		<div class="col-sm-2 sidebar-offcanvas">
			<div class="list-group">
			  	<a href="#/localsearch/{{id}}/" class="list-group-item" active-nav="active-nav">Home</a>
			  	<a href="#/localsearch/{{id}}/edit/" class="list-group-item" active-nav="active-nav">Edit</a>
			  	<a href="" class="list-group-item" active-nav="active-nav">Gallery</a>
			  	<a href="" class="list-group-item" active-nav="active-nav">Review</a>
			</div>
		</div>
		<div class="col-sm-10" data-ui-view>
		</div>
	</div>
	
</div>