<div class="row">
	<div class="row row-offcanvas row-offcanvas-left">
		
		<div class="col-sm-2 sidebar-offcanvas">
			<div class="panel panel-default">
				<div class="panel-heading">Filter</div>
				<div class="panel-body"  style="padding:5px;">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" placeholder="Contactname">
                    </div>
                    <div class="form-group">
					   <input type="text" class="form-control input-sm" placeholder="District">
                    </div>
					Registered After
					<input type="date" class="form-control input-sm" plcaeholder="">
					Registered before
					<input type="date" class="form-control input-sm" plcaeholder="">
					Category
                    <div class="form-group">
					   <select name="" id="" class="form-control input-sm">
					   	   <option value=""></option>
					   	   <option value="">Platinum</option>
					   	   <option value="">Gold</option>
					   	   <option value="">Silver</option>
					   </select>
                    </div>
                    <div class="form-group">
					   <button class="btn btn-default  btn-xs form-control">Filter</button>
                    </div>   
				</div>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="row" style="margin-top:-10px; margin-bottom:5px;">
        		<div class="col-sm-6">
            		<div class="btn-group">                
                		<button type="button" class="btn btn-info btn-sm" onclick="window.location.href='#/offer/new'">
                    		<span class="glyphicon glyphicon-plus"></span> Add offer
                		</button>
                		<button type="button" class="btn btn-default btn-sm" ng-disabled="offers_selected.length!=1">
                    		<a href="#/offer/{{offers_selected[0].offer_id}}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                		</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="delete_offers();" ng-disabled="!offers_selected.length">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>  
                    </div>

        		</div>
        		<div class="col-sm-6 col-md-3 col-md-offset-3">
          			<div class="input-group">
                		<input type="text" class="form-control" ng-model="filterOptions.filterText">
           			    <div class="input-group-btn">
                    		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                		    
    		            </div><!-- /btn-group -->

    		        </div><!-- /input-group -->
    		    </div><!-- /.col-lg-6 -->
    		</div>
			<div class="gridStyle" ng-grid="offersTable"></div>
		</div>
	</div>
</div>


<style>
    .gridStyle{
        height: 550px;
        width: 100%;
        min-width: 300px;
    }
    .search_bar{
        width: 200px;
        float: right;
    }
    button{
      //  border-radius: 0px !important;
    }
</style>